body{
	font-size: 16px;
	background-color: #063607;
}
main{
	height: 200vh;
	padding-top: 100px;
	width: 90%
	margin: 0 auto;
}	
header{
	background-color: #ce0b0b;
	margin: 0;
	padding: 0;
	width: 100%;
	position: fixed;
}
nav{
	
}

nav > ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	background-color: #ce0b0b;
	z-index: 99;
	width: 100%;

}
nav > ul > li{
	float:left;
	z-index: 99;
	font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
nav > ul >li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}
li{
	vertical-align: bottom;
}
li > a{
	
}
li > a:hover{
	background-color: #063607;
}
ul{
	
}
	
section{

}
h1{
	font-size: 6em;
	color: white;
	
}
p{
	color: white;
	font-size: 3em	
}
.logga{
	
}
.namn{
	
}
.hus{
	color: white;
	height: 25px;
	width: 25px;
}
.titel{
	color: white;
	vertical-align: bottom;

}